*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .nav{
    background-color: black;

}

.navText{
    color: white;
    font-size: 1.2rem;
} */

.navbar-brand{
    font-size: 2rem !important;
  
}
.navbar-brand:hover{
    color: rgb(46, 111, 197) !important;
}

.navbar-nav .navText:hover{
    color:rgb(43, 123, 228)  ;
}
.navText.active{
    background-color: blueviolet !important;
}

.menu_active{
    font-weight: bold;
    border-bottom: 1px solid blueviolet;
}

.bio{
    font-size: 1.3rem;
    font-weight: 400;
}
/* 
.btn{
    border-radius: 15px;
} */
.heading{
    font-size: 2rem;
}

.brand-name{
    color: rgb(46, 111, 197)
}
.animated{
    animation: animate 2s ease-in-out  infinite alternate-reverse both;
    width: 500px;
    height: 500px !important;
}

@keyframes animate {
  from{
      transform: translateY(10px);
  }  
  to{
      transform: translateY(-10px);
  }
}

.card{
    margin-right: 40px;
    margin-bottom: 10px;
}
.card-text{
    font-weight: 400;
    font-size: 1rem !important;
    color: rgb(87, 87, 87);
}
.card-title{
    font-weight: 600;
    color: rgb(58, 58, 58);
}